# Virtual Environment
myenv314/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# IDE
.vscode/
.idea/

# Test reports
reports/
allure-results/
allure-report/

# Chroma / Vector DB
chroma_db/
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp

# Python cache
.pytest_cache/